.gameBoard{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 200px;
    margin: 0 auto;
}

.gameSquare{
    text-align: center;
    height: 30px;
}

h1{
    text-align: center;
}